.icons {
  max-width: 640px;
  margin: auto;
  padding-bottom: 30px;

  .icon-width {
    width: 128px;
    margin: auto;

    a {
      padding: 0 10px 0 10px;
      border-radius: 50%;

      svg {
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}
